/* music container */
.music{
    width: 270px;
    height: 210px;
    background-color: #E3F2FD;
}

/* heading for music */
h2{
    margin: 1px;
}

/* list element */
.music #song1{
    padding: 0px 0px;
}